<h1 class="title">that time i decided to write a book</h1>
<div class="blogs">
	<div class="one">
		<h2 class="post_title">Understanding the Male Psyche Pt.1</h2>
		<div class="time_and_date">
				<p>Friday, January 4, 2013</p>
		</div>
		<div class="text">
		<p>So for some reason I decided to write half of my book from the first person perspective of an eighteen-year-old boy.</p>
		<p>A boy.</p>
		<p>A teenage boy.</p>
		<p>Thus I have began a quest to find well-written, sci/fi, teen literature from the first person perspective of a teenage boy, written by male author.</p>
		<p>Which has been surprisingly difficult to find.</p>
		<p>Now, it's kind of a thing to flip between two MC first person perspectives right now, and almost all of these books are written by women. So the boys either tend to be very Mr. Darcy (because HELLO...MR DARCY) or very Jacob (lovestruck, angsty folk - yes this is a twilight reference). They're either reserved with a dark past and quiet sensibility - or troublesome rebels. Obviously there are some exceptions, but not a lot.</p>
		<p>My boy is none of those things. But I will write more on this later.</p>
		<p>So tell me, who are some of your favorite men from literature?? And what do you love about them??</p>
		</div>
	</div>
</div>
<div class="sidebar">
	<div id="about_me">
		<div class="about_me_text">
			<p>the chronicles of my journey to getting published</p>
		</div>
		<%= link_to image_tag("face_shot.jpg", alt: "Face Shot", id: "face_shot") %>
	</div>	
</div>
